<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>CSRF Token Forgery</title>
    </head>
    <body>
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-5xl font-bold p-4 w-[500px] text-center">
                Welcome to CSRF Demonstration!
            </h1>
            <div class="p-4">
                <% if (isLoggedIn) { %>
                <form action="/users/delete">
                    <button
                        class="bg-red-600 text-white hover:bg-red-500 hover:font-bold duration-300 rounded-md px-4 py-2 text-xl font-bold"
                        type="submit"
                    >
                        Delete Your Account
                    </button>
                </form>
                <% } else { %>
                <div class="buttons flex gap-8">
                    <a href="/users/login">
                        <button
                            class="bg-gray-900 text-white hover:bg-white hover:text-gray-900 border-2 border-gray-950 duration-300 rounded-md px-4 py-2 text-xl font-bold w-28"
                            type="submit"
                        >
                            Login
                        </button>
                    </a>
                    <a href="/users/signup">
                        <button
                            class="bg-gray-900 text-white hover:bg-white hover:text-gray-900 border-2 border-gray-950 duration-300 rounded-md px-4 py-2 text-xl font-bold w-28"
                            type="submit"
                        >
                            Sign up
                        </button>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
